<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="correct-integrity-value-here" crossorigin="anonymous">
    </head>
    <body>
        <style>
            header {
                background-color: #333;
                color: #fff;
                padding: 10px;
                text-align: center;
            }
    
            footer {
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 10px;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        </style>
        <header>
            <h1>Games</h1>
        </header>
        <div id="app">
            <table id="gamesTable" class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th> 
                </tr>
                <tr v-for="game in games">
                    <td @click="getGame(game.id)">{{game.name}}</td>
                    <td>{{game.price}}</td>
                    <td>
                        <button @click="deleteGame(game.id)">Delete</button>
                        <button @click="updateGame(game.id)">Update</button> 
                    </td>
                </tr>
            </table>
            <div id="gameInfoModal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <tr><th>ID</th><td>{{gameInModal.id}}</td></tr>
                                <tr><th>Name</th><td>{{gameInModal.name}}</td></tr>
                                <tr><th>Price</th><td>{{gameInModal.price}}</td></tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <form @submit.prevent="addGame">
                <input v-model="newGameName" placeholder="Name" required />
                <input v-model="newGamePrice" placeholder="Price" required />
                <button type="submit">Add Game</button>
            </form>
        </div>  
        <footer>
            <p>&copy; <script>document.write(new Date().getFullYear())</script> Mihhail Lastovski</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>      
          <script>
            const vue = Vue.createApp({           
                    data() {
                        return {
                            newGameName: '',
                            newGamePrice: '',
                            gameInModal: { name: null },
                            games: [],
                        };
                    },
                    async created() {
                        this.games = await (await fetch('http://localhost:8080/games')).json();
                    },
                    methods: { 
                        getGame: async function(id) {
                            this.gameInModal = await (await fetch(`http://localhost:8080/games/${id}`)).json();
                            let gameInfoModal = new bootstrap.Modal(document.getElementById('gameInfoModal'), {});
                            gameInfoModal.show();
                        },
                        deleteGame: async function(id) {
                            const response = await fetch(`http://localhost:8080/games/${id}`, {
                                method: 'DELETE',
                            });
                            if (response.ok) {
                                this.games = this.games.filter((game) => game.id !== id);
                            }
                        },
                        addGame: async function() {
                            const newGame = {
                                name: this.newGameName,
                                price: this.newGamePrice,
                            };
                            const response = await fetch('http://localhost:8080/games', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(newGame),
                            });
                            if (response.ok) {
                                this.games.push(await response.json());
                                this.newGameName = ''; 
                                this.newGamePrice = '';
                            }
                        },
                        updateGame: async function (id) {
                            const updatedGameName = prompt('Enter the updated name:');
                            const updatedGamePrice = prompt('Enter the updated price:');
            
                            if (updatedGameName && updatedGamePrice) {
                                const response = await fetch(`http://localhost:8080/games/${id}`, {
                                    method: 'PUT',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ name: updatedGameName, price: updatedGamePrice }),
                                });
            
                                if (response.ok) {
                                    const updatedGame = await response.json();
                                    const gameIndex = this.games.findIndex((game) => game.id === id);
                                    this.games[gameIndex] = updatedGame;
                                }
                            }
                        },
                    },
                    
                    
                },
            {
        }).mount('#app');
            
        </script>
    </body>
</html>